<% unless comment.archived? %>
  <p>
    <b>
      <em>
        <%= comment.commenter %>
      </em>
    </b>
    <br>
    <%= comment.body %>
    <%= link_to "Delete Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </p>
<% end %>
